.contain {
    display: flex;
    flex-direction: row;
    gap: 140px;
    align-items: center;
    margin-top: 90px;
    margin-left: 100px;
}
.Profile {
width: 100%;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    padding: 10px;
    background-color: rgba(204, 203, 203, 0.541);
}
.first-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.less {
    font-size: 20px;
    font-family: arial;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input > .info{
    font-size: 20px;
    font-family: arial;
}
.kal {
    margin-right: 38px;
}
.second-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    display: flex;
    flex-direction: column;
}
.info {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
}
.mini-pic {
    width: 30px;
    cursor: pointer;
    margin: 10px;
}
.type {
    font-size: 18px;
    padding: 10px;
}
.click {
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(6, 228, 6);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.click:hover {
    background-color: white;
    color: rgb(6, 228, 6);
     box-shadow: 1px 1px 10px rgb(6, 228, 6);
     transition: 0.5s;
}
.text1 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: arial;
    color: grey;
}
.cut {
    color: black;
}
footer {
     font-size: 20px;
    font-family: arial;
    width: 170px;
    text-align: center;
    color: grey;
}
@media (max-width: 1250px) {
    .contain {
        flex-direction: column;
        gap: 60px;
        margin-left: 0;
        margin-top: 0;
    }
}